doctype html
html
  head
    title Lista de Espera
    link(rel='stylesheet', href='/css/secretariaListarEspera.css')
    link(rel='stylesheet', href='/css/footer.css')
    link(rel='stylesheet', href='/css/headerSecretaria.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css')
  body
    include ../includes/headerSecretaria

    main
      h2 Lista de Espera

      if lista.length
        table#listaEsperaTable
          thead
            tr
              th Paciente
              th Teléfono
              th Fecha de Registro
              th Médico
              th Especialidad
              th
          tbody
            each item in lista
              tr
                td= item.nombre_completo
                td= item.telefono
                td= new Date(item.fecha_registro).toLocaleDateString('es-AR')
                td= item.nombre_medico
                td= item.especialidad
                td
                      button.btn-eliminar(type="button" data-id=item.id) Eliminar
      else
        p No hay pacientes en lista de espera.

    include ../includes/footer
    script(src="/js/logout.js")
    script(src="/js/tablafecha.js")
    script(src="/js/esperas.js")
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
