doctype html
html
  head
    title Secretaria Panel
    link(rel="stylesheet" href="/css/secretariaTurnos.css")
    link(rel="stylesheet" href="/css/footer.css")
    link(rel="stylesheet" href="/css/headerSecretaria.css")
    link(rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css")
  body
    include ../includes/headerSecretaria
    h1 ¡Bienvenida, secretaria!
    h2 Lista de turnos
    form(method="get" action="/turnos/listarTurnos" class="filter-form")
      input(type="text" name="paciente" placeholder="Buscar paciente")
      input(type="text" name="profesional" placeholder="Buscar profesional")
      select(name="sucursal")
        option(value="") Todas las sucursales
          each s in sucursales
            option(value=s.nombre)= s.nombre
      button(type="submit") Filtrar
    section.sectionMain
      if turnos && turnos.length
        table#tablaTurnos.tableTurnos
          thead
            tr
              th Turno para
              th Médico
              th Especialidad
              th Sucursal
              th Fecha
              th Hora
              th Observación
              th DNI
              th Estado
              th Acciones
              th Acciones
              th Acciones
          tbody
            each turno in turnos
              tr
                td= turno.paciente_nombre
                td= turno.nombre_medico
                td= turno.especialidad 
                td= turno.sucursal
                td= turno.fecha
                td= turno.hora
                td= turno.detalle_turno
                td
                  if turno.dni_foto_url
                    a(href=turno.dni_foto_url target="_blank")
                      img(src=turno.dni_foto_url alt="DNI Foto" class="dni-foto" width="70" height="50")
                  else
                    p Foto no disponible
                td= turno.estado
                td
                  a(href=`/turnos/editarTurno/${turno.id}` class="btn-editar") Cambiar estado
                td
                  a(href=`/turnos/detalles/${turno.id}` class="btn-editar") Detalles
                td
                  a(href=`/turnos/trasladar/${turno.id}` class="btn-editar") Trasladar turno
            else
              p No hay turnos disponibles
    include ../includes/footer
    script(src="/js/logout.js")
    script(src="/js/tablafecha.js")
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")