doctype html
html
  head
    title Editar Turno
    link(rel="stylesheet" href="/css/secretariaDetalleTurnos.css")
    link(rel="stylesheet" href="/css/footer.css")
    link(rel="stylesheet" href="/css/headerSecretaria.css")
  body
    include ../includes/headerSecretaria
    h1 Editar Estado del Turno

    form(action=`/turnos/editar/${turno.id}` method="POST")
      ul.detalle-turno
        li Paciente: #{turno.paciente_nombre}
        li DNI: #{turno.dni}
        li Profesional: #{turno.nombre_medico} / #{turno.especialidad}
        li Fecha: #{turno.fechaFormateada}
        li Hora: #{turno.horaFormateada}
        li
          label(for="estado") Estado:
          select(name="estado" id="estado" required)
            - const estados = ['No disponible','Libre','Reservada','Confirmado','Cancelado','Ausente','Presente','En consulta','Atendido'];
            each estado in estados
              if estado === turno.estado
                option(value=estado selected)= estado
              else
                option(value=estado)= estado
        if turno.dni_foto_url
          li DNI Foto:
            a(href=turno.dni_foto_url target="_blank")
              img(src=turno.dni_foto_url alt="DNI Foto" class="dni-foto" width="400" height="200")
        else
          li Foto del DNI no disponible

      button(type="submit") Guardar cambios

    a(href="/turnos/listarTurnos") ← Volver a turnos
    include ../includes/footer
    script(src="/js/logout.js")