doctype html
html
    head
        title Detalles del Turno
        link(rel="stylesheet" href="/css/secretariaDetalleTurnos.css")
        link(rel="stylesheet" href="/css/footer.css")
        link(rel="stylesheet" href="/css/headerSecretaria.css")
    body
        include ../includes/headerSecretaria
        h1 Detalles del Turno
        ul
            li  Paciente: #{turno.paciente_nombre}
            li  DNI: #{turno.dni}
            li  Obra social: #{turno.obra_social}
            li  Teléfono: #{turno.telefono}
            li  Profesional: #{turno.nombre_medico}
            li  Especialidad: #{turno.especialidad}
            li  Sucursal: #{turno.sucursal}
            li  Fecha: #{turno.fecha}
            li  Hora: #{turno.hora}
            li  Observaciones: #{turno.detalle_turno}
        a(href="/turnos/listarTurnos") ← Volver a turnos
        include ../includes/footer
        script(src="/js/logout.js")