doctype html
html
    head
        title Detalles del Turno
        link(rel="stylesheet" href="/css/secretariaDetalleTurnos.css")
        link(rel="stylesheet" href="/css/footer.css")
        link(rel="stylesheet" href="/css/headerSecretaria.css")
    body
        include ../includes/headerSecretaria
        h1 Detalles del Turno
        ul.detalle-turno
            li  Paciente: #{turno.paciente_nombre}
            li  DNI: #{turno.dni}
            li  Obra social: #{turno.obra_social}
            li  Teléfono: #{turno.telefono}
            li  Profesional: #{turno.nombre_medico}
            li  Especialidad: #{turno.especialidad}
            li  Sucursal: #{turno.sucursal}
            li  Fecha: #{turno.fechaFormateada}
            li  Hora: #{turno.horaFormateada}
            li  Observaciones: #{turno.detalle_turno}
            li Estado: #{turno.estado}
            if turno.dni_foto_url
                li DNI Foto:
                    a(href=turno.dni_foto_url target="_blank")
                        img(src=turno.dni_foto_url alt="DNI Foto" class="dni-foto" width="400" height="200")
            else
                li Foto del DNI no disponible
        a(href="/turnos/listarTurnos") ← Volver a turnos
        include ../includes/footer
        script(src="/js/logout.js")