doctype html
html(lang="es")
    head
        title Secretaria - Trasladar
        link(rel="stylesheet" href="/css/secretariaGestionTurno.css")
        link(rel="stylesheet" href="/css/footer.css")
        link(rel="stylesheet" href="/css/headerSecretaria.css")
        link(rel="stylesheet" href="/css/secretariaTrasladarTurno.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    body(class="secretariaTrasladarTurno")
        include ../includes/headerSecretaria
        main(class="mainContent")
            h1(class="titulo") Trasladar Turno
            form(method="POST" action=`/turnos/trasladar/${turno.id}` class="formTurnos")
                h3 Selecciona un Profesional
                if profesionales && profesionales.length
                    select(name="profesional_especialidad_id" id="profesional" required class="profesionalSelect")
                        option(value="" selected disabled) Selecciona un profesional
                            each profesional in profesionales
                                option(value=profesional.id)= `${profesional.id}  ${profesional.nombre_completo} / ${profesional.especialidad}`
                else
                    p(class="noProfesionales") no se encontraron profesionales
                label(for="fecha" class="fechaLabel") Selecciona la fecha:
                input(type="text" name="fecha" id="fecha" required class="fechaInput")
                label(for="horario" class="horarioLabel") Selecciona un horario:
                select(name="hora" id="horario" required class="horarioSelect")
                    option(value="" selected disabled class="horarioOption") Selecciona un horario
                label(for="detalle_turno" class="detalleTurnoLabel") Detalle del turno:
                textarea(name="detalle_turno" id="detalle_turno" rows="4" placeholder="Detalles adicionales del turno" required class="detalleTurnoTextarea")
                input(type="hidden" name="estado" value="Confirmado" class="estadoInput")
                button(type="submit" class="btnTrasladar") Trasladar Turno
            a(href="/turnos/listarTurnos" class="volver") ← Volver a turnos
        include ../includes/footer
        script(src="/js/logout.js")
        script(src="/js/horarios.js")
        script(src="https://cdn.jsdelivr.net/npm/flatpickr")