doctype html
html
  head
    title Vista Paciente
    link(rel="stylesheet" href="/css/paciente.css")
    link(rel="stylesheet" href="/css/footer.css")
  body
    include ../includes/headerPaciente
    h1 Datos Personales
    section
      article
        form.formPerfilEditar(action="/pacientes/perfil", method="POST")
          fieldset.campoPerfilEditar(class="campoImg")
            img(src=`/img/icon/${paciente[0].icon}.jpg`, alt="icon" class="iconEdit" id="icon")
            a.botonCambiarFoto(href="/pacientes/foto") Cambiar foto de perfil
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilNombre") Nombre completo:
            input.inputPerfil(
              type="text", 
              id="perfilNombre", 
              name="nombre",
              placeholder=paciente[0].nombre_completo,
              value=paciente[0].nombre_completo,
              disabled
            )
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilEmail") Correo electrónico:
            input.inputPerfil(
              type="email", 
              id="perfilEmail", 
              name="email", 
              required, 
              placeholder=paciente[0].email,
              disabled
            )
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilDni") DNI:
            input.inputPerfil(
              type="text", 
              id="perfilDni", 
              name="dni", 
              placeholder=paciente[0].dni,
              disabled
            )
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilMutual") Mutual:
            input.inputPerfil(
              type="text", 
              id="perfilMutual", 
              name="mutual", 
              placeholder=paciente[0].obra_social
            )
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilDireccion") Dirección:
            input.inputPerfil(
              type="text", 
              id="perfilDireccion", 
              name="direccion", 
              placeholder=paciente[0].direccion
            )
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilTelefono") Teléfono:
            input.inputPerfil(
              type="text", 
              id="perfilTelefono", 
              name="telefono", 
              placeholder=paciente[0].telefono
            )
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilFechaNacimiento") Fecha de nacimiento:
            span=formattedDate
            input.inputPerfil(
              type="date", 
              id="perfilFechaNacimiento", 
              name="fecha_nacimiento"
            )
          button.botonEditarFoto(type="submit") Editar
    include ../includes/footer
    script(src="/js/logout.js")