doctype html
html
  head
    title Vista Paciente
    link(rel="stylesheet" href="/css/headerPaciente.css")
    link(rel="stylesheet" href="/css/pacienteEditar.css")
    link(rel="stylesheet" href="/css/footer.css")
  body
    include ../includes/headerPaciente
    if msg == 'ok'
      div.alert.alert-success
        span.icon ✓
        |  Datos editados exitosamente

    if msg == 'error'
      div.alert.alert-error
        span.icon ⚠
        |  Hubo un error al editar tus datos
    h1(class="tituloEditar") Datos Personales
    section(class="sectionPrincipalEditar")
      article
        form.formPerfilEditar(action="/pacientes/editar", method="POST")
          fieldset.campoPerfilEditar(class="campoImg")
            img(src=`/img/icon/${paciente[0].icon}.jpg`, alt="icon" class="iconEdit" id="icon")
            a.botonCambiarFoto(href="/pacientes/foto") Cambiar foto de perfil
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilNombre") Nombre completo:
            input.inputPerfil(
              type="text", 
              id="perfilNombre", 
              name="nombre_completo",
              value=paciente[0].nombre_completo,
            )
            span.error#errNombre
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilEmail") Correo electrónico:
            input.inputPerfil(
              type="email", 
              id="perfilEmail", 
              name="email", 
              required, 
              value=paciente[0].email,
              readonly
            )
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilDni") DNI:
            input.inputPerfil(
              type="text", 
              id="perfilDni", 
              name="dni", 
              value=paciente[0].dni,
              readonly
            )
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilMutual") Mutual:
            input.inputPerfil(
              type="text", 
              id="perfilMutual", 
              name="obra_social", 
              value=paciente[0].obra_social
            )
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilDireccion") Dirección:
            input.inputPerfil(
              type="text", 
              id="perfilDireccion", 
              name="direccion", 
              value=paciente[0].direccion
            )
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilTelefono") Teléfono:
            input.inputPerfil(
              type="text", 
              id="perfilTelefono", 
              name="telefono", 
              value=paciente[0].telefono
            )
            span.error#errTelefono
          fieldset.campoPerfilEditar
            label.lbPerfil(for="perfilFechaNacimiento") Fecha de nacimiento:
            span(class="fechaNacimiento")=formattedDate
            input.inputPerfil(
              type="date", 
              id="perfilFechaNacimiento", 
              name="fecha_nacimiento"
            )
          button.botonEditarFoto(type="submit") Editar
    include ../includes/footer
    script(src="/js/logout.js")
    script.
      setTimeout(() => {
        const alert = document.querySelector('.alert');
        if (alert) alert.style.display = 'none';
      }, 4000);
    script.
      const nombreInput = document.getElementById("perfilNombre");
      const nombreError = document.getElementById("errNombre");

      const telInput = document.getElementById("perfilTelefono");
      const telError = document.getElementById("errTelefono");

      //validamos nombre que pueda permitir solo letras
      nombreInput.addEventListener("input", () => {
        const limpio = nombreInput.value.replace(/[^A-Za-zÁÉÍÓÚáéíóúÑñ ]/g, "");
        if (limpio !== nombreInput.value) {
          nombreError.textContent = "Solo letras permitidas.";
        } else {
          nombreError.textContent = "";
        }
        nombreInput.value = limpio;
      });

      //validamos telefono
      telInput.addEventListener("input", () => {
        telInput.value = telInput.value.replace(/[^0-9]/g, "");

        if (telInput.value.length > 13) {
          telInput.value = telInput.value.slice(0, 13);
          telError.textContent = "Máximo 13 números.";
        } else {
          telError.textContent = "";
        }
      });