doctype html
html
    head
        title Vista Paciente
        link(rel="stylesheet" href="/css/headerPaciente.css")
        link(rel="stylesheet" href="/css/pacienteFoto.css")
        link(rel="stylesheet" href="/css/footer.css")
    body
        include ../includes/headerPaciente
        h1 ¡Elige tu foto de perfil!
        section.sectionFoto
            form.formPerfilFoto(action="/pacientes/foto" method="POST")
                each num in Array.from({ length: 16 }, (_, i) => i + 1)
                    fieldset.campoPerfilFoto
                        article.articleFoto
                            input.inputPerfilFoto(
                                type="radio", 
                                id=`foto${num}`, 
                                name="icon", 
                                value=`${num}`
                            )
                            label(for=`foto${num}`)
                                img(src=`/img/icon/${num}.jpg`, alt=`icon${num}`, class="iconEdit")
                input(type="hidden", name="dni", value=dni)
                button.botonEditarFoto(type="submit") Editar
        include ../includes/footer
        script(src="/js/logout.js")
