doctype html
html
  head
    title Historial de Turnos
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap", rel="stylesheet")
    link(rel="stylesheet" href="/css/headerPaciente.css")
    link(rel="stylesheet" href="/css/paciente.css")
    link(rel="stylesheet" href="/css/pacienteHome.css")
    link(rel="stylesheet" href="/css/footerNuevo.css")
  body
    include ../includes/headerPaciente
    main(class="mainPaciente")
      h1(class="tituloBienvenida") Mi historial de turnos
      section(class="seccionTurnos")
        article(class="datosPaciente")
          h2(class="tituloEspacioPersonal") Aquí puedes ver el historial de tus turnos pasados:
          if !turnos || turnos.length === 0
            p(class="sinTurnos") No tenés turnos en tu historial.
          else
            table(class="tablaTurnos")
              thead
                tr
                  th Fecha
                  th Hora
                  th Médico
                  th Especialidad
                  th Detalle
                  th Estado
              tbody
                each turno in turnos
                  tr
                    td= turno.fecha
                    td= turno.hora
                    td= `${turno.nombre} ${turno.apellido}`
                    td= turno.especialidad
                    td= turno.detalle_turno
                    td= turno.estado
          p(class="dudas") Si tenés alguna duda, no dudes en comunicarte con la secretaría.
    include ../includes/footer
    script(src="/js/logout.js")